body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00338D;
    margin-bottom: 100px
}

header {
    background-color: #C60C30;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

#data-display {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #C60C30;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*  Styles for the list items  */
.game-list {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.week_number{
    margin-top: 4px;
    margin-bottom: 4px; /* Adjust the value to control the space between week number and bullet points */
}
  
